.bitcoin-app {
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-left: 0.9375rem;
        margin-right: 1.25rem;
        span {
            font-size: 1.6rem;
        }

        img {
            width: 8%;
            height: 80%;
        }
    }
}
