li {
    display: flex;
    border: 1px solid #ece7e7d6;
    border-radius: 30px;
    max-width: 12rem;
    margin: 1rem 0px;
    .contact-container {
        display: flex;
        flex-direction: column;
        a {
            border-radius: 30px;
            border: 1px solid #ece7e7d6;
            padding: 5px;
        }
    }

    img {
        width: 125px;
    }
}
