li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9375rem;
    border: 1px solid #ece7e7d6;
    border-radius: 30px;
    max-width: 12rem;
    margin: 1rem 0px;
    gap: 1rem;
    div {
        cursor: pointer;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.31578rem;
    }
    a {
        border-radius: 30px;
        border: 1px solid #ece7e7d6;
        // padding: 5px;
    }

    img {
        width: 125px;
    }
}
