<section class="login-page">
    <form *ngIf="!isUserSignup; else elseBlock" #form="ngForm" (ngSubmit)="onLogin(form)">
        <!-- <label for="password">Username</label> -->
        <input ngModel type="text" name="username" id="username" placeholder="Username" required>
        <!-- <label for="password">Password</label> -->
        <input ngModel type="text" name="password" id="password" placeholder="Password" required>
        <button>Login</button>
        <button (click)="onUserSelect()">Don't have an account yes ?</button>
    </form>
    <ng-template #elseBlock>
        <signup (onSelect)="onUserSelect()" (onSignup)="onSignup($event)"></signup>
    </ng-template>
</section>